<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  emits: ['on-reservation-confirmation'],
  data() {
    return {
      selectedName: '',
      selectedEmail: '',
      selectedPhoneNumber: '',
      isSubmitDisabled: false
    }
  },
  computed: {
    isFormValid() {
      return this.selectedName.length > 0 &&
        this.selectedEmail.length > 0 &&
        this.selectedPhoneNumber.length > 0;
    }
  },
  methods: {
    formSubmit() {
      this.$emit('on-reservation-confirmation', {
        customerName: this.selectedName,
        customerEmail: this.selectedEmail,
        customerPhone: this.selectedPhoneNumber
      })
      this.isSubmitDisabled = true;
      setTimeout(() => { this.isSubmitDisabled = false }, 5000);
    }
  }
})
</script>
<template>
  <div class="vehicle-reservation-confirmation-form-container">
    <v-img
      class="mx-auto"
      src="https://cdn.imagin.studio/getImage?customer=nevo&steering=rhd&modelYear=2023&make=Hyundai&modelFamily=Ioniq-6&modelRange=Elegance&modelVariant=Saloon&angle=28&width=800&paintId=imagin-grey&bodySize=5"
      width="200"
    ></v-img>
    <div class="text-center text-h6">Your vehicle is waiting, confirm your booking now!</div>
    <v-col>
      <v-text-field label="Name" v-model="selectedName"></v-text-field>
      <v-text-field label="Email Address" v-model="selectedEmail"></v-text-field>
      <v-text-field label="Phone Number" v-model="selectedPhoneNumber"></v-text-field>
    </v-col>
    <v-btn block color="teal-darken-4" :disabled="!isFormValid || isSubmitDisabled" @click="formSubmit">Confirm Booking</v-btn>
  </div>
</template>
