<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  emits: ['on-availability-checked'],
  data() {
    const maxReservationDate = new Date()
    maxReservationDate.setDate(maxReservationDate.getDate() + 14)
    return {
      isFormComplete: false,
      minCalendarDate: new Date(),
      maxCalendarDate: maxReservationDate,
      selectedLocation: null as string | null,
      selectedVehicle: null as { value: string } | null,
      selectedDate: null as Date | null
    }
  },
  computed: {
    formattedSelectedDate() {
      if (this.selectedDate === null) {
        return ''
      }
      return this.selectedDate.toLocaleString()
    },
    isFormValid() {
      return (
        this.selectedLocation !== null &&
        this.selectedVehicle !== null &&
        this.selectedDate !== null
      )
    }
  },
  methods: {
    async formSubmit() {
      if (
        this.selectedLocation === null ||
        this.selectedVehicle === null ||
        this.selectedDate === null
      ) {
        return null
      }

      this.$emit('on-availability-checked', {
        location: this.selectedLocation.toLowerCase(),
        vehicleType: this.selectedVehicle.value.toLowerCase(),
        startDate: this.selectedDate
      })
    }
  }
})
</script>
<template>
  <v-row>
    <v-col md="6" cols="12"
      ><v-combobox
        v-model="selectedLocation"
        label="Location"
        :items="['Dublin', 'Cork']"
      ></v-combobox
    ></v-col>
    <v-col md="6" cols="12"
      ><v-combobox
        v-model="selectedVehicle"
        label="Vehicle"
        :items="[
          { title: 'Tesla Model 3', value: 'tesla_model3' },
          { title: 'Tesla Model X', value: 'tesla_modelx' },
          { title: 'Tesla Model Y', value: 'tesla_modely' }
        ]"
      ></v-combobox
    ></v-col>
  </v-row>
  <v-row>
    <v-col>
      <VueDatePicker
        v-model="selectedDate"
        :teleport="true"
        prevent-min-max-navigation
        :min-date="minCalendarDate"
        :max-date="maxCalendarDate"
      >
        <template #trigger>
          <v-text-field
            readonly
            label="Select a date"
            v-model="formattedSelectedDate"
            prepend-icon="mdi-calendar"
          ></v-text-field>
        </template>
      </VueDatePicker>
    </v-col>
  </v-row>
  <v-btn block color="teal-darken-4" :disabled="!isFormValid" @click="formSubmit"
    >Check Availability</v-btn
  >
</template>
