<script lang="ts">
import VehicleReservationAvailabilityForm from './VehicleReservationAvailabilityForm.vue'
import VehicleReservationConfirmationForm from './VehicleReservationConfirmationForm.vue'
import { createReservationConfirmation, createReservationRequest } from '@/utils/api'

import { defineComponent } from 'vue'

export default defineComponent({
  components: {
    VehicleReservationAvailabilityForm,
    VehicleReservationConfirmationForm
  },
  data() {
    return {
      isSnackbarShowing: false,
      snackbarMessage: '',
      snackbarColor: 'error',
      stepperIndex: 1,
      reservationData: {} as any
    }
  },
  methods: {
    async onAvailabilityChecked(result: any | null) {
      if (result === null) {
        return
      }
      const reservationRequestResponse = await createReservationRequest(
        result.location,
        result.vehicleType,
        result.startDate,
        45
      )
      if (!reservationRequestResponse.success) {
        this.reservationData = {}
        this.snackbarColor = 'error'
        this.isSnackbarShowing = true
        this.snackbarMessage = reservationRequestResponse.data
        setTimeout(() => {
          this.isSnackbarShowing = false
          this.snackbarMessage = ''
        }, 5000)
      } else {
        this.reservationData = { vehicle: reservationRequestResponse.data, date: result.startDate }
        this.stepperIndex++
      }
    },
    async onReservationConfirmation(result: any | null) {
      if (result === null) {
        return
      }
      const reservationRequestResponse = await createReservationConfirmation(
        this.reservationData.vehicle.id,
        this.reservationData.date,
        45,
        result.customerName,
        result.customerEmail,
        result.customerPhone
      )
      if (!reservationRequestResponse.success) {
        this.snackbarColor = 'error'
        this.isSnackbarShowing = true
        this.snackbarMessage = reservationRequestResponse.data
        setTimeout(() => {
          this.isSnackbarShowing = false
          this.snackbarMessage = ''
        }, 5000)
      } else {
        this.snackbarColor = 'success'
        this.isSnackbarShowing = true
        this.snackbarMessage = 'Test drive booked!'
        this.stepperIndex = 1
        this.reservationData = {}
        setTimeout(() => {
          this.isSnackbarShowing = false
          this.snackbarMessage = ''
        }, 5000)
      }
    }
  }
})
</script>
<template>
  <v-card
    title="Ready to try your next vehicle? "
    subtitle="Book a 45-minute test drive today"
    prepend-icon="mdi-key-chain-variant"
  >
    <div class="ma-4">
      <v-stepper
        v-model="stepperIndex"
        color="teal darken-4"
        elevation="0"
        hide-actions
        alt-labels
        :items="['Availability', 'Confirmation']"
      >
        <template #[`item.1`]>
          <vehicle-reservation-availability-form
            v-if="stepperIndex === 1"
            @on-availability-checked="onAvailabilityChecked"
          />
        </template>
        <template #[`item.2`]>
          <vehicle-reservation-confirmation-form
            v-if="stepperIndex === 2"
            @on-reservation-confirmation="onReservationConfirmation"
          />
        </template>
      </v-stepper>
    </div>
    <v-snackbar v-model="isSnackbarShowing" :color="snackbarColor">
      {{ snackbarMessage }}
    </v-snackbar>
  </v-card>
</template>
<style>
.v-card .v-stepper-header {
  box-shadow: none !important;
}
</style>
