<script setup lang="ts">
import VehicleReservation from '@/components/VehicleReservation.vue'
</script>

<template>
  <v-app class="rounded rounded-md">
    <v-main class="d-flex align-center justify-center" style="min-height: 300px">
      <v-col md="4" cols="12">
        <vehicle-reservation></vehicle-reservation>
      </v-col>
    </v-main>
  </v-app>
</template>

<style scoped>
.v-main {
  background-image: url(https://www.nevo.ie/_next/static/media/home-page-background.64bb9a7a7d128f5db48bc339fa1eb4fa.jpg)
}
</style>
